<div [perfectScrollbar]="{}" fxLayout="column" fxLayoutAlign="center center">
  <div class="header-img"></div>
  <div
    class="signup4-container mat-elevation-z4 card-width"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    fxFlex="20"
    [@animate]="{
      value: '*',
      params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
    }"
    style="margin-bottom: 32px; margin-top: 160px; background: white;"
  >
    <!-- Right side content -->
    <div
      style="padding:16px 32px;"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h1>CoVSurance</h1>
      <div>Demofall (ACHTUNG: keine echte Versicherung)</div>
      <p>
        CoV-bedingte Betriebsunterbrechungsversicherung, direkt vom
        Risikokapitalgeber zum Versicherungsnehmer, ohne Umwege
      </p>
      <p>
        Ein Marktplatz für die direkte Verbindung von Versicherungsnehmer und
        Investoren
      </p>
    </div>
    <div
      style="margin-top:auto"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    ></div>
  </div>

  <div fxLayout="row" class="card-width" fxLayoutAlign="space-around center">
    <button
      mat-raised-button
      class="highlight-on-hover"
      style="width: 100%; height: 100px; margin: 16px; font-size: 26px;"
      fxLayout="column"
      fxLayoutAlign="center stretch"
      routerLink="/invest"
    >
      investieren
    </button>
    <button
      mat-raised-button
      class="highlight-on-hover"
      style="width: 100%; height: 100px; margin: 16px;  font-size: 26px;"
      fxLayout="column"
      fxLayoutAlign="center stretch"
      routerLink="/insure"
    >
      versichern
    </button>
  </div>

  <div fxLayout="row" class="card-width" fxLayoutAlign="space-around center">
    <div
      class="hidden-pseude-card"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card-content
        class="full-width"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-icon>fast_forward</mat-icon>
        <span style="margin-top: 5px;">schnell</span>
      </mat-card-content>
    </div>
    <div
      class="hidden-pseude-card"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card-content
        class="full-width"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-icon>compare_arrows</mat-icon>
        <span style="margin-top: 5px;">direkt</span>
      </mat-card-content>
    </div>
    <div
      class="hidden-pseude-card"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card-content
        class="full-width"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-icon>enhanced_encryption</mat-icon>
        <span style="margin-top: 5px;">absichern</span>
      </mat-card-content>
    </div>
  </div>

  <div fxLayout="row" class="card-width" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-content style="padding: 16px 32px;">
        <div>
          Mit kleinen Beiträgen Unternehmen Planungssicherheit geben
        </div>
        <div>
          <mat-error>++Demo (keine echte Versicherung) ++</mat-error>
        </div>
        <p>
          Diese Showcase ist im Zuge eines Hackathons der Startups der Strada
          del Startup in Linz zum Thema "Lösungen für die Corona-Krise" im
          Zeitraum 13.-15.3.2020 entstanden und wurde von finothek (link auf
          <a
            href="https://www.finothek.io/"
            target="_blank"
            class="mat-color-accent"
          >
            finothek.io
          </a>
          ), Markus Waghubinger, Johannes Mayer, CodingYourLife (link auf
          <a
            href="www.codingyourlife.at"
            target="_blank"
            class="mat-color-accent"
          >
            www.codingyourlife.at
          </a>
          ) und Daniel Waghubinger entwickelt.
        </p>

        <p>
          Viele Unternehmen erleiden wirtschaftlichen Schaden durch den
          Coronavirus und die Einflüsse auf das tägliche (Wirtschafts-)Leben.
          Versicherungen können dieses Risiko leider nicht übernehmen, da
          konzentrierte Katastrophenrisken die Solvenz der
          Versicherungsgesellschaften selbst gefährden würden. Solche
          Versicherungsrisiken können jedoch auf den Kapitalmarkt übertragen
          werden - sog. Katastrophenanleihen können aufgelegt werden - wo
          risikobereite Investoren Kapital für die Übernahme des Risikos gegen
          Zins/Prämie zur Verfügung stellen.
        </p>

        <p>
          Dies ist ein Showcase wie der Prozess der Absicherung von Unternehmen
          über Versicherungsgesellschaft, Rückversicherung, Investmentbank und
          Investoren durch Technologie vereinfacht werden kann und Investoren
          ohne Umwege direkt Risikokapital für Absicherungs-suchende Unternehmen
          zur Verfügung stellen können.
        </p>

        <div>
          Einschränkung zum Showcase:
        </div>
        <ul>
          <li>
            <p>
              Verträge werden auf der Kovan Testnetz der Ethereum Blockchain
              erstellt.
            </p>
          </li>
          <li>
            <p>
              Es fließt kein Geld, jedoch ist ein Kovan ETH-Wallet für die
              Versicherung oder das Investment notwendig.
            </p>
          </li>
          <li>
            <p>
              Verwendbar ist dies über eine MetaMask-Erweiterung (
              <a
                href="https://metamask.io"
                target="_blank"
                class="mat-color-accent"
              >
                https://metamask.io
              </a>
              ) im Browser
            </p>
          </li>
          <li>
            <p>
              für einen Produktiveinsatz kann eine Einbindung von allen
              europäischen Bankkonten erfolgen (offene Schnittstellen nachPSDII)
            </p>
          </li>
          <li>
            <p>
              Es handelt sich um einen Marktplatz für Risiken. Für kurzfristige
              Risiken mit hoher Schadenswahrscheinlichkeit wird voraussichtlich
              kein Marktgleichgewicht und somit keine Versicherung möglich sein.
            </p>
          </li>
        </ul>
        <!-- <p>
          Je kurzfristiger die Verträge desto schwerer versicherbar und die
          Krise ist schon da. Kurzfristige Verträge können somit
          realistischerweise nicht zustande kommen, für Verträge ab Juni/Juli
          2020 gäbe es voraussichtlich wieder einen funktionierenden Markt.
        </p> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
