.header-img {
  background-image: url(../../../assets/images/backgrounds/waterfall.jpg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 320px;
}

.highlight-on-hover {
  transition: transform 0.3s;
}

.highlight-on-hover:hover {
  transform: scale(1.025);
}
