<div [perfectScrollbar]="{}" fxLayout="column" fxLayoutAlign="center center">
  <div class="header-img"></div>
  <div
    class="signup4-container mat-elevation-z4 card-width"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    fxFlex="20"
    [@animate]="{
      value: '*',
      params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
    }"
    style="margin-bottom: 32px; margin-top: 160px; background: white;"
  >
    <!-- Right side content -->
    <div style="padding:16px;" fxLayout="column" fxLayoutAlign="center center">
      <h2>
        Mein wirtschaftliches Risiko absichern
      </h2>

      <mat-accordion class="full-width">
        <mat-expansion-panel #inputPanel (opened)="loadData()">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Ich möchte mein wirtschaftliches Risiko absichern
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form
            [formGroup]="insuranceForm"
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Absicherung gegen</mat-label>
              <mat-select formControlName="risk">
                <mat-option
                  *ngFor="let risk of possibleRisks"
                  value="{{ risk }}"
                >
                  {{ risk }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Zeitraum</mat-label>
              <mat-select formControlName="timeframe">
                <mat-option
                  *ngFor="let time of possibleTimeframes"
                  value="{{ time }}"
                >
                  {{ time }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Versicherungssumme</mat-label>
              <input
                type="number"
                matInput
                placeholder="Volumen"
                formControlName="volume"
              />
              <mat-error>Mindest Versicherungssumme 50€</mat-error>
            </mat-form-field>
          </form>
          <mat-progress-bar
            style="width: 100%;"
            *ngIf="calculating"
            [mode]="'indeterminate'"
          ></mat-progress-bar>
          <div class="text-muted">
            <p>
              Ich bestätige, dass ich ein Risiko im Zusammenhang mit einer
              möglichen CoV-bedingten Betriebsunterbrechung oder einem
              Veranstaltungsausfall in meinem Unternehmen identifiziert habe und
              in dieser Höhe absichern möchte.
            </p>
            <p>
              Die Prämie wird sofort fällig. Die Versicherungssumme wird
              ausbezahlt, sollte an mehr als 10 Tagen im versicherten Monat ein
              staatlich angeordneter Ausnahmezustand für ganz Österreich gelten,
              unabhängig davon ob in meinem Unternehmen tatsächlich ein Schaden
              eingetreten ist (schnelle & unbürokratische Auszahlung von
              Versicherungsleistungen). Trifft dies nicht zu, läuft die
              Versicherung mit Ende des gewählten Monats ohne Auszahlung aus.
            </p>

            <p class="mat-color-danger">
              <mat-error>
                ACHTUNG: dies ist ein Demo, es fließt kein Geld, es wird keine
                tatsächliche Versicherung abgeschlossen. Dies ist eine Software
                zur Illustration
              </mat-error>
            </p>
          </div>
          <mat-error
            style="margin:auto;"
            *ngIf="calculationResult && !calculationResult.possible"
          >
            Berechnung nicht möglich, Volumen zu hoch.
          </mat-error>
          <mat-action-row fxLayoutAlign="center center" fxlayout="row">
            <button
              mat-raised-button
              color="primary"
              [disabled]="insuranceForm.invalid || calculating"
              (click)="calculateInvestment()"
            >
              berechnen
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel
          #calculationPanel
          [disabled]="!calculationResult || !calculationResult.possible"
        >
          <mat-expansion-panel-header>
            <mat-panel-description>
              Berechnete Versicherung
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div
            class="full-width"
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngIf="calculationResult"
          >
            <div
              class="full-width"
              fxlayout="row"
              fxLayoutAlign="space-between center"
              style="padding: 16px;"
            >
              <div class="full-width">
                Prämie gesamt
              </div>
              <div
                class="full-width"
                style="border-left: 1px solid gray; padding-left: 16px;"
              >
                {{ calculationResult.totalBonus.toFixed(2) }} €
              </div>
            </div>

            <div
              class="full-width"
              fxlayout="row"
              fxLayoutAlign="space-between center"
              style="padding: 16px;"
            >
              <div class="full-width">
                Durchschnittliche Prämie %
              </div>
              <div
                class="full-width"
                style="border-left: 1px solid gray; padding-left: 16px;"
              >
                {{ (calculationResult.averageBonusPercent * 100).toFixed(2) }} %
              </div>
            </div>

            <div
              class="full-width"
              fxlayout="row"
              fxLayoutAlign="space-between center"
              style="padding: 16px;"
            >
              <div class="full-width">
                Aufschlüsselung
              </div>
            </div>

            <div class="mat-box-shadow margin-333" style="width: 98%;">
              <ngx-datatable
                class="material bg-white"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [limit]="8"
                [rows]="calculationResult.subInvestments"
                [columns]="columnsInsure"
                [loadingIndicator]="
                  calculationResult.subInvestments.length === 0
                "
              ></ngx-datatable>
            </div>
          </div>
          <mat-progress-bar
            style="width: 100%;"
            *ngIf="investmentInProcess"
            [mode]="'indeterminate'"
          ></mat-progress-bar>
          <mat-action-row
            fxLayoutAlign="center center"
            fxlayout="row"
            fxLayoutGap="32px"
          >
            <button
              mat-raised-button
              color="primary"
              (click)="confirmInvestment()"
              [disabled]="investmentInProcess"
            >
              Versicherung abschließen
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="cancelInvestment()"
              [disabled]="investmentInProcess"
            >
              abbrechen
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="loadData()">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Aktuelle Versicherungsangebote
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            class="full-width"
          >
            <mat-form-field class="margin-333" style="width: 80%">
              <input
                matInput
                placeholder="Type to filter all columns"
                value=""
                (keyup)="updateFilter($event)"
              />
            </mat-form-field>

            <div class="mat-box-shadow margin-333" style="width: 98%;">
              <ngx-datatable
                class="material bg-white"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [limit]="8"
                [rows]="data"
                [columns]="columnsOverview"
                [loadingIndicator]="data.length === 0"
              ></ngx-datatable>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
