<div [perfectScrollbar]="{}" fxLayout="column" fxLayoutAlign="center center">
  <div class="header-img"></div>
  <div
    class="signup4-container mat-elevation-z4 card-width"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="center stretch"
    fxFlex="20"
    [@animate]="{
      value: '*',
      params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' }
    }"
    style="margin-bottom: 32px; margin-top: 160px; background: white;"
  >
    <!-- Right side content -->
    <div style="padding:16px;" fxLayout="column" fxLayoutAlign="center center">
      <h2>
        Investieren um anderen Sicherheit zu geben.
      </h2>
      <p class="text-muted">
        bereits ab 50 Euro investieren und gemeinsam Unternehmen absichern
      </p>
      <form
        [formGroup]="investForm"
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Risiko</mat-label>
          <mat-select formControlName="risk">
            <mat-option value="CoV-Betriebsunterbrechung">
              CoV-Betriebsunterbrechung
            </mat-option>
            <mat-option value="CoV-Veranstaltungsausfall">
              CoV-Veranstaltungsausfall
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Betrag</mat-label>
          <input
            formControlName="volume"
            type="number"
            matInput
            placeholder="Betrag"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Prämie</mat-label>
          <input
            formControlName="bonus"
            type="number"
            matInput
            placeholder="Prämie"
          />
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Zeitraum</mat-label>
          <mat-select formControlName="timeframe">
            <mat-option
              *ngFor="let timeframe of timeframes"
              [value]="timeframe.id"
            >
              {{ timeframe.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Gültig bis</mat-label>
          <input
            formControlName="validUntil"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
      <div
        style="padding: 16px;"
        class="text-muted"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <p>
          <mat-error>
            ACHTUNG: dies ist ein Demo, es fließt kein Geld, es wird keine
            tatsächliche Versicherung abgeschlossen. Dies ist eine Software zur
            Illustration, der nachfolgende Text illustriert nur welche Risiken
            im Echtbetrieb damit verbunden wären.
          </mat-error>
        </p>

        <p>
          Mit der Übernahme des Risiko verdiene ich attraktive Zinsen, die
          Unternehmer direkt an mich als Versicherungsprämie bezahlen, sollte
          der Ausnahmezustand durch Corona im versicherten Zeitraum vorbei sein
          (an mehr als 20 Tagen des Monats kein Ausnahmezustand) erhalte ich
          zusätzlich zur Prämie noch meinen Kapitaleinsatz retour.
        </p>

        <p>
          Sollte das Risiko schlagend werden, also im ausgewählten Risikomonat
          tatsächlich breitflächige Betriebsunterbrechungen in Österreich von
          der Regierung verordnet werden, erhält der Versicherungsnehmer die
          Auszahlung des Betrages und ich habe nur die Prämie verdient, bekomme
          jedoch den einbezahlten Betrag nicht mehr zurück.ACHTUNG: dies führt
          zu erheblichen Verlusten in der Geldanlage!
        </p>

        <p>
          Als Investment ist diese Produkt speziell für jene geeignet, die durch
          die aktuelle Krise Mehreinnahmen generieren (Supermärkte, Apotheken,
          Lieferdienste, Webshopbetreiber) oder die mit kleinen Beiträgen
          Unternehmen Planungssicherheit für die kommenden Monate geben wollen.
        </p>

        <mat-checkbox [(ngModel)]="readTerm">gelesen</mat-checkbox>
      </div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!readTerm || investForm.invalid"
        (click)="invest()"
      >
        INVESTIEREN
      </button>
    </div>
  </div>
</div>
